<p>
      <!-- <a href="<%= config.root %><%= theme.rss %>">rss</a>
      <span class="split"></span>
      <a href="https://github.com/tomdican/tomdican.github.io">github</a>    
      <span class="split"></span>
      -->
      <span id="busuanzi_value_site_pv"></span> hits.
<!--      with help from <a href="http://zespia.tw/hexo/" target="_blank">Hexo</a> and <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>.
-->
      Theme by <a style="color:#999" href="http://github.com/wzpan/hexo-theme-wixo/">Wixo</a>.    

</p>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
